body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1  {
    color: #e70808;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}

/* Style pour les autres titres */
h2, h3, h4  {
    color: #f8f7f9;
    background-color: rgb(119, 144, 182);
    text-align: center;
}

#bienvenue {
    border: #e70808 5px dotted;
    background-color: lime;
    padding: 10px;
    color: blue;
    font-size: 20px;
}


.important {
    border: #e70808 5px solid;
    background-color: orange;
    padding: 10px;
    color: purple;
    font-size: 18px;
}

.important > strong {
    text-decoration: underline;
}

* {color = black;}