/* Light (300) */
@font-face {
  font-family: 'JetBrainsMonoNF';
  src: url('../fonts/JetBrainsMono-Light.woff2') format('woff2'),
       url('../fonts/JetBrainsMono-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'JetBrainsMonoNF';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'JetBrainsMonoNF';
  src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
       url('../fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

body {
    font-family: 'JetBrainsMonoNF', sans-serif;
    font-weight: 300;
    color: #eddbb2;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    font-size: 14px;
}

strong {
    font-family: 'JetBrainsMonoNF', sans-serif;
    font-weight: 800;
    text-decoration: underline;
}

h1, h2 {
    color: rgb(135, 160, 153);
    padding: inherit;
}

h1 {
    background-color: DarkCyan;
}

h2 {
    border-bottom: 1px solid #665544;
}

.important {
    background-color: #cc241d;
    border: 1px solid #665544;
    padding: inherit;
}

.important > h2 {
    background-color: #cc241d;
}

a {
    color: #83a598;
}